/* static/style.css */
body {
    background-color: yellow;
    font-family: sans-serif;
}

/* .joi{
    font-family: Silkscreen;
    font-size: 57.5px;
    padding-top: 40px;
    margin: 2px;
    text-decoration: none;
} */